 /* Neda Todorovic 0677/17  */
.container .btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(255, 254, 254);
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    
    border-radius: 5px;
  }
  .container img {
    width: 50%;
    height: auto;
  }