 /* Neda Todorovic 0677/17  Nikola Ilic 0707/17 */
.navbar-brand{
    font-size: 24pt;
    font-weight: 700;
    margin-left: 1%;
}
.meal{
    width: 58%;
}
.nav2{
    background-color: lightgray;
  
}
.mainrow{
width: 100%;
}
#header{
    color:brown;
}
.card{
    margin-bottom: 10%;
}
.navbar-light .navbar-nav .nav-link {
    color: brown;
}
.navbar-light .navbar-nav .nav-link:hover{
color: rgb(255, 0, 0);
}

h3{
    margin-top: 3%;
    margin-bottom: 3%;
}

.iconx{
    color:red;
}

.box{
    width: 100%;
    padding: 3%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top: 5%;
}
.biggerbox{
    width: 60%;
    padding: 3%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  
}
.fa:hover, .checked{
    color:rgb(189, 189, 38);
    cursor: pointer;
}
.change{
    float: right;

}



.comentBox {
    padding: 1%;
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    background-color: #e6f1f1;
    border-radius: 25px;
}
.footer span {
    background-color:#343a40 !important;
}
.footer {
    font-size: 16px;
    height: 10%;
    width: 100%;
    color: white;
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.s{
    margin: 0%;
}