 /* Neda Todorovic 0677/17  */
  .table{
    margin-top: 5%;   
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
   }
 
   .labela{
     font-weight: bold;
     margin: 0%;
   }
 
   tr {
   
     border-bottom: 2px solid #103758 !important;
     
 
 
   }
  
  tr:first-of-type {
     border-top: 2px solid #103758 !important;
 }

 .col-sm-4{
     font-size: 10pt;
 }

span{
  position: fixed;
  bottom: 2px;
  left: 3px;
  color:red;
  font-size: 10pt;
}